@mixin  flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin nameItemsCenterSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flexA {
    display: flex;
    align-items: center;
}

@mixin flexItemsCenter {
    display: flex;
    align-items: center;
}