@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flexItemCenter {
    display: flex;
    align-items: center;
}

@mixin flexCenterBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}
