.layout {
    .layout-slider {
        width: 210px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        @include flexColumn();
        background-color: #001529;
        transition: width .3s cubic-bezier(.645,.045,.355,1);
        &-top {
            padding: 20px 0;
            @include flexCenter();
            img {
                width: 30px;
            }
            h1 {
                color: #fff;    
                font-size: 18px;
                font-weight: 600;
                margin-left: 6px;
                margin-bottom: 0;
                animation: hide-show .3s;
            }
        }
    }
    .layout-section {
        flex: 1;
        min-height: 100vh;
        transition: margin-left .3s cubic-bezier(.645,.045,.355,1);
    }
}

@keyframes hide-show {
    0% {
        opacity: 0;
        display: none;
    }
    80% {
        opacity: 0;
        display: none;
    }
    100% {
        opacity: 1;
        display: unset;
    }
}