.layout-navbar {
    height: 50px;
    padding: 0 20px;
    @include nameItemsCenterSpaceBetween();
    box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
    &-left {
        @include flexItemsCenter();
        .unfold {
            padding-top: 3px;
            margin-right: 40px;
            span {
                font-size: 20px;
                cursor: pointer;
            }
        }
    }
    &-right {
        img {
            width: 32px;
            cursor: pointer;
            border-radius: 4px;
        }
    }
}